<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
</head>
<body>


    <button id="SidebarToggler" class="btn btn-dark hvr-buzz-out">
        <i class="Icon far fa-compass fa-3x"></i><!--.Icon/-->
    </button><!--/#SidebarToggler-->

    <div id="Sidebar" class="d-flex align-items-center text-center">
        <div class="LinksContainer d-block">
            <a class="Link" href="#Head">
                <div class="Item hvr-shadow-radial">Home</div><!--.Item/-->
            </a><!--/.Link-->
            <a class="Link" href="#About">
                <div class="Item hvr-shadow-radial">About</div><!--.Item/-->
            </a><!--/.Link-->
            <a class="Link" href="#Skills">
                <div class="Item hvr-shadow-radial">Key Skills</div><!--.Item/-->
            </a><!--/.Link-->
            <a class="Link" href="#Projects">
                <div class="Item hvr-shadow-radial">Projects</div><!--.Item/-->
            </a><!--/.Link-->
            <a class="Link" href="#Contact">
                <div class="Item hvr-shadow-radial">Contact</div><!--.Item/-->
            </a><!--/.Link-->
        </div><!--/.LinksContainer-->
    </div><!--/#Sidebar-->

    

    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)

    <script>
        $("#SidebarToggler").click(function () {
            $("#Sidebar").toggleClass("on");
            $("body").toggleClass("on");
        })
    </script>

</body>
</html>
